<webobject name="BarePage">
<table class="FullBox">
<tr><td style="width:30%;padding:10px;text-align:center;border:1px solid #f96">
  <h1>Web-CAT</h1>
  <p><webobject name="Logo"/></p>
  <p><b>Automatic Grading Using Student-written Tests</b></p><br/>
  <p><webobject name="PoweredByWOLink"><webobject name="PoweredByWO"/></webobject></p>
</td><td style="padding:10px"><webobject name="LoginForm">
  <h2>Forgot Your Password?</h2>
  <webobject name="Errors"/>
<wo:if condition="$emailSent">
  <p>An e-mail message with password changing instructions has been
  sent to you at <wo:er.extensions.components.ERXMailTo email="$email"/>.</p>
  <p>Please check your e-mail and click on the link contained in the
  message in order to change your password.</p>
</wo:if><wo:else>
  <p>If you have forgotten your Web-CAT password, enter your information
  below.</p><p>An e-mail message with password changing instructions will be
  mailed to you automatically.</p>

  <table class="layout">
  <tr><td class="R"><b>E-mail Address:</b></td>
      <td><webobject name="Email"/></td></tr>
  <webobject name="NeedsAuthList">
  <tr><td class="R"><b>Institution:</b></td>
      <td><webobject name="AuthList"/></td></tr></webobject>
  <tr><td></td><td><input type="submit" value=" Reset Password "/><webobject name="HasSpecificAuthDomain"><webobject name="HiddenAuthDomain"/></webobject></td></tr>
    </table>
</wo:else>
  <p><wo:not condition="$emailSent">Or r</wo:not><wo:else>R</wo:else>eturn to
  the <wo:link directActionName="default">login page</wo:link>.</p>
</webobject>
</td></tr></table><webobject name="Footer"/></webobject>
