<wo name="Page"><ul>
<li><p><wo:link pageName="org.webcat.admin.PropertyListPage">System
properties</wo:link></p></li>
<li><p><wo:link pageName="org.webcat.admin.Log4JConfigurationPage">Log4J
configuration</wo:link></p></li>
<li><p><wo:link pageName="org.webcat.grader.AssignmentDataPage">Generate
CSV of assignment scheduling data</wo:link></p></li>
<wo:if condition="$application.isDevelopmentMode"><li><p><wo:link pageName="org.webcat.admin.UnitTestPage">Unit
test control panel</wo:link></p></li></wo>
</ul></wo>
