<wo:WCPageWithNavigation>

<wo:WCPageModule title="Typography">

<p>This page presents most of typographical aspects of the new
Web-CAT theme.</p>

<h1>This is a Heading 1</h1>
<p>This is plain text, this is <b>bold</b>, <strong>strong</strong>,
<em>emphasized</em>, <i>italic</i>, and <u>underlined</u>.
This is <a href="">a hypertext link</a>.
Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>

<p>This is a <span class="hl">highlight phrase</span>. Use <strong>&lt;span class="hl"&gt;Your highlight phrase goes here!&lt;/span&gt;</strong>.</p>

<p>Announcements use a "date" CSS class to set off the announcement date.</p>
<ul>
<li><p><span class="date">[2008-10-16]</span>
If youre are <b>new to Web-CAT</b>, you might want to watch this <a href="http://web-cat.cs.vt.edu/WCWiki/SubmissionWalkthrough">movie of making a submission</a>, which also explains how to interpret results.</p>
</li></ul>

<p>Here is some <span class="check">green text</span> and some
<span class="warn">red text</span>.</p>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Headings" open="false">

<h1>This is a Heading 1</h1>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h3>This is a Heading 3</h3>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h4>This is a Heading 4</h4>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h5>This is a Heading 5</h5>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h6>This is a Heading 6</h6>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Notice Panels" open="false">

<ul class="NoticePanel error" style="margin-bottom: 1.5em;">
<li class="error">This is a sample error message.</li>
<li class="warning">This is a sample warning message.</li>
<li class="info">This is a sample information message.</li>
<li class="check">This is a sample confirmation message.</li>
</ul>

<ul class="NoticePanel error" style="margin-bottom: 1.5em;">
<li>This is a sample error message in an error notice panel.  The type of
    panel used when there are multiple messages is usually determined by
    the most severe message in the panel.</li>
</ul>

<ul class="NoticePanel warning" style="margin-bottom: 1.5em;">
<li class="warning">This is a sample warning message.</li>
</ul>

<ul class="NoticePanel info" style="margin-bottom: 1.5em;">
<li class="info">This is a sample info message.</li>
</ul>

<ul class="NoticePanel check">
<li class="check">This is a sample confirmation message.</li>
</ul>

<blockquote>This is a sample Blockquote. Use <strong>&lt;blockquote&gt;Your quote goes here!&lt;/blockquote&gt;</strong> to form a quote!</blockquote>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Lists" open="false">

<ol>
<li>This is a sample <strong>Ordered List</strong>.</li>
<li>Lorem ipsum dolor sit amet consectetuer.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor nibh.</li>
</ol>

<ul>
<li>This is a sample <strong>Unordered List</strong>.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor.</li>
<li>Nunc cursus sem et pretium sapien eget.</li>
</ul>

<ul class="checklist">
<li>This is a sample <strong>Check list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="stars">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="arrow">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<p class="blocknumber"><span class="bignumber">01</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;01.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">02</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;02.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">03</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;03.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Code Displays" open="false">

<p>Below is a sample of <strong>&lt;pre&gt;</strong> or
  <strong>&lt;div class="code"&gt;</strong></p>
<pre>#ja-rightcol {
  width: 180px;
  float: right;
  color: #EEEEEE;
}
</pre>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Tables" open="false">
<p>This table has a &lt;thead&gt;:</p>
<table><thead>
<tr><th colspan="2">System Status</th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr>
<tr class="o caution">
  <td>odd caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution">
  <td>even caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o selected">
  <td>odd selected line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e selected">
  <td>even selected line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o error">
  <td>odd error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e error">
  <td>even error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o caution selected">
  <td>odd selected/caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution selected">
  <td>even selected/caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o error selected">
  <td>odd selected/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e error selected">
  <td>even selected/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o caution error selected">
  <td>odd selected/caution/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution error selected">
  <td>even selected/caution/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
</tbody></table>

<p>This table does not:</p>
<table>
<tr><th colspan="2">System Status</th></tr><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr></tbody></table>


<p>This table has a link in the header:</p>
<table><thead>
<tr><th colspan="2"><a href="">System Status</a></th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr></tbody></table>

</wo:WCPageModule>

</wo:WCPageWithNavigation>
