<div class="module"><wo:if condition="$isCollapsible">
<wo:org.webcat.ui.WCTitlePane id="$id" title="$title" open="$startOpen" showsLoadingMessageOnRefresh="$showsLoadingMessageOnRefresh">
<wo:content/></wo:org.webcat.ui.WCTitlePane>
<wo:if condition="$needsVisibilityNotifications">
<script type="text/javascript">
dojo.addOnLoad(function() {<wo:WCActionFunction jsId="$idFor.onShowFunction" action="$moduleWasOpened" remote="true"/><wo:WCActionFunction jsId="$idFor.onHideFunction" action="$moduleWasClosed" remote="true"/>
    dojo.connect(dijit.byId('<wo:str value="$id"/>'), '_onShow', function() { <wo:str value="$idFor.onShowFunction"/>(this); });
    dojo.connect(dijit.byId('<wo:str value="$id"/>'), 'onHide', function() { <wo:str value="$idFor.onHideFunction"/>(this); });
});
</script>
</wo:if>
</wo:if><wo:else>
<wo:if condition="$hasTitle"><h1><wo:str value="$title"/></h1></wo:if>
<wo:content/></wo:else>
</div>
