<webobject name="PageWrapper"><center>
<div class="NoticePanel error"><b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b></b><div class="boxcontent">
<ul>
<li class="error"><webobject name="ErrorMessage"/></li>
</ul>
<webobject name="HasNextPage">
  <webobject name="CancelLink"><webobject name="CancelButton"/></webobject>
</webobject>
<webobject name="NoNextPage">
  <webobject name="HomeLink"><webobject name="HomeButton"/></webobject>
</webobject>
</div><b class="bottom"><b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b></b></div>
</center></webobject>
