<webobject name="Page"><webobject name="WizardForm"><webobject name="DefaultButton"/><webobject name="WizardContent"/>
<div class="spacer">&nbsp;</div><p><webobject name="HasBackButton"><webobject name="BackButton"/><webobject name="Spacer"/></webobject>
<webobject name="HasNextButton"><webobject name="NextButton"/><webobject name="Spacer"/></webobject>
<webobject name="HasExtraGap"><webobject name="Spacer"/><webobject name="Spacer"/></webobject>
<webobject name="HasCancelButton"><webobject name="CancelButton"/><webobject name="Spacer"/></webobject>
<webobject name="HasApplyButton"><webobject name="ApplyButton"/><webobject name="Spacer"/></webobject>
<webobject name="HasFinishButton"><webobject name="FinishButton"/></webobject></p>
</webobject></webobject>
