{
    name             = "Colourise";
    dirName          = colourise;
    version.major    = 1;
    version.minor    = 0;
    version.revision = 0;
    version.date     = 20090302;
    provider         = "Virginia Tech Computer Science";
    provider.url     = "http://web-cat.cs.vt.edu/updates";
    license          = "GNU General Public License v.2";
    license.url      = "http://www.gnu.org/copyleft/gpl.html";
    copyright        = "(c) 2009 Virginia Tech Department of Computer Science";
    info.url         = "http://web-cat.cs.vt.edu/WCWiki/ColouriseTheme";
    history.url      = "http://web-cat.cs.vt.edu/WCWiki/ColouriseTheme/ChangeHistory";
    author           = "Stephen Edwards (edwards@cs.vt.edu)";
    authorUid        = edwards;
    description      = "A dark black background with a color spectrum highlight
        and contrasting light grey text.";
    credits          = "Brought to you by ...";
    preview          = "colourise-preview.png";
    thumb            = "colourise-thumb.png";

    extends = nihilo-dark;
//    extends = aristo-dark;
    cssOrder = (
        {
            file = "colourise.css";
            media = "screen, projection, tv";
        }
    );

}
