<webobject name="EntitiesForm">
<div class="dtw">
  <table class="layout">
  <tr valign="middle">
    <webobject name="HasValidSession">
    <td valign="middle" align="center"><b>Entities:</b>
      <webobject name="EntitiesPopup"/></td>
    <td align="center"><webobject name="FindButton"/></td>
    <td align="center"><webobject name="NewButton"/></td>
    <td align="center"><webobject name="QueryAllLink"/></td>
    </webobject>
    <webobject name="NoValidSession"><td><p>Please login first.</p></td></webobject>
  </tr></table></div>
</webobject>
<webobject name="RemoteControl"/>&nbsp;
