<wo:if condition="$includePageWrapping"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><wo:str value="$title"/></title>
<wo name="JSONRPCJs"/>
<wo name="DojoCss"/>
<wo name="DojoThemeCss"/>
<wo name="DojoxFileInputCss"/>
<wo name="WebcatDojoCss"/>
<wo:str escapeHTML="false" value="$theme.linkTags"/><wo:str escapeHTML="false" value="$extraCssLinkTags"/>
<wo:if condition="$doesPageSpecificStylesheetExist"><wo name="PageSpecificCss"/></wo:if><wo:if condition="$hasCustomExternalCssLinks"><wo:str escapeHTML="false" value="$customExternalCssLinks"/></wo:if>
<script type="text/javascript">
djConfig = { parseOnLoad: true, baseUrl: "<wo name="DojoBaseUrl"/>", modulePaths: { "dojo": "dojo", "dijit": "dijit", "dojox": "dojox", "webcat": "webcat" } };
</script>
<wo name="DojoJs"/>
<script type="text/javascript">
dojo.require("webcat.BasePage");
<wo:loop list="$extraRequiresArray" item="$oneExtraRequire">dojo.require("<wo:str value="$oneExtraRequire" />");
</wo:loop>// <!-- END_REQUIRES -->
dojo.addOnLoad(function() {
    dijit.setWaiRole(dojo.body(), "application");
// <!-- END_ON_LOAD -->
});
</script>
<wo:if condition="$doesPageSpecificJavascriptExist"><wo name="PageSpecificJs"/></wo:if><wo:if condition="~customBackground != null">
<style type="text/css">
body { background-image: url(<wo:str escapeHTML="false" value="$customBackground"/>); }
</style>
</wo:if><wo:if condition="$inlineHeaderContents"><wo:str escapeHTML="false" value="$inlineHeaderContents"/></wo:if></head>
<wo:WOGenericContainer elementName="body" class="$bodyCssClass">
<wo:WOComponentContent />
</wo:WOGenericContainer>
</html></wo:if><wo:else><wo:WOComponentContent/></wo:else>