<webobject name="BarePage">
<div id="content"><div id="page"><div class="width100 floatRight">
<div class="module login title">
  <h1>Web-CAT</h1>
  <h2>Automatic Grading Using Student-written Tests</h2>
  <div style="clear:both"></div>
</div>

<div class="large-logo"><div class="module">
<webobject name="LoginForm">
  <p>Login to the <b>Web Center for Automated Testing</b> (Web-CAT):</p>
  <wo name="ExtraKeys"><wo name="ExtraKey"/></wo>
  <webobject name="Errors"/>
  <table class="layout">
  <tr><td class="R"><label for="UserName"><b>User Name:</b></label></td>
      <td><webobject name="UserName"/></td></tr>
  <tr><td class="R"><label for="UserPassword"><b>Password:</b></label></td>
      <td><webobject name="UserPassword"/></td></tr>
  <webobject name="NeedsAuthList">
  <tr><td class="R"><label for="AuthenticationDomain"><b>Institution:</b></label></td>
      <td><webobject name="AuthList"/></td></tr></webobject>
  <tr><td></td><td><input type="submit" value="Login" label="Login" dojoType="dijit.form.Button"/><wo:if condition="$showForgotPasswordLink"> <wo:link directActionName="passwordChangeRequest">Forgot your password?</wo:link></wo:if><webobject name="HasSpecificAuthDomain"><webobject name="HiddenAuthDomain"/></webobject></td></tr>
    </table>
</webobject>
</div></div>

<webobject name="HasMOTD"><div class="module"><webobjects name="MOTD"/></div></webobject>

<!--  <p>Web-CAT is powered by:</p>
  <p>[ insert logos/links for WebObjects, Perl, Clover, ANT, Checkstyle, PMD ]</p> -->
<div class="poweredby">
<a href="http://www.apple.com/webobjects/"><wo name="PoweredByWO"/></a>
</div>

</div></div></div><webobject name="Footer"/></webobject>
