{
    attributes = (
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = isEnabled; 
            name = isEnabled; 
            prototypeName = boolean; 
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; }; 
        }, 
        {columnName = messageType; name = messageType; prototypeName = mediumText; }, 
        {columnName = protocolType; name = protocolType; prototypeName = mediumText; }, 
        {columnName = userId; name = userId; prototypeName = foreignId; }
    ); 
    attributesUsedForLocking = (isEnabled, messageType, protocolType, userId); 
    className = "org.webcat.notifications.UserMessageSubscription"; 
    classProperties = (isEnabled, messageType, protocolType, user); 
    externalName = UserMessageSubscription; 
    name = UserMessageSubscription; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = User; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userId; }); 
            name = user; 
        }
    ); 
}
