<wo:WCPageWithNavigation>
<wo:WCPageModule title="Assessment Plan Overview">
<p>
We need to collect more convincing data regarding achievement of our program outcomes, and do so systematically.  To this end, we have assigned specific measurement tasks to all required courses.  As the instructor of a required course, you will be expected to determine how these measures correspond to specific assignments (or parts of assignments) in your course, and then report how your students perform on these measures.
</p><p>
For each outcome measured in your course, student achievement is broken into three categories:
</p>
<ul>
<li><p><b>Excellent</b>: the student applies the knowledge or skills with virtually no procedural or conceptual errors.</p></li>
<li><p><b>Adequate</b>: the student applies the knowledge or skills, but may make minor procedural errors or occasional conceptual errors.</p></li>
<li><p><b>Unsatisfactory</b>: the student makes significant conceptual and/or procedural errors when attempting to apply the knowledge or skills.</p></li>
</ul>
<p>
Outcome measures are reported in terms of the <b>number of students achieving the goal at each level</b>—-that is, how many students were Excellent, how many were Adequate, and how many were Unsatisfactory.
</p><p>
You are responsible for defining how student performance is partitioned into these three categories for your measure--it depends heavily on the nature of your course and assignments. Nominally, we suggest that Excellent correspond to >= 90% performance, with Adequate corresponding to >= 60% performance, and Unsatisfactory corresponding to anything lower. If your situation warrants, however, you can define the cutoffs yourself.
</p><p>
Also, note that if you use a categorical measure (say, from a rubric), you will need to define your own categorical criteria for partitioning student performance into these three categories—usually, that is pretty easy.
</p><p>
<b>Note</b>: The outcomes to be measured in each course are <b>negotiable</b>-—if you feel that one of the outcomes allocated to your course should be phrased differently or should have a different emphasis, please discuss the issue with your course coordinator (if that isn’t you) and propose an alternate to Steve Edwards.
</p>
</wo:WCPageModule>
</wo:WCPageWithNavigation>
