<wo name="PageWrapper">
    <wo name="QueryTable">
        <wo name="BannerConditional"><thead>
            <wo name="QueryTableHeaderRow">
                <th colspan="2">Find...</th>
            </wo>
        </thead></wo>
        <tbody>
        <wo name="EntitiesRepetition">
            <wo name="RowContainer">
                <wo name="QueryForm">
                    <td align="right"><strong><wo name="EntityName"/>:</strong></td>
                    <td align="right">
                        <wo name="QueryAnyField"/>
                        <wo name="SearchButtonImage"/>
                        &nbsp; &nbsp; <font size="-1"><wo name="RegularQueryHyperlink">more..</wo></font></td>
                </wo>
            </wo>
        </wo>
        </tbody>
    </wo>
</wo>
