{
    attributes = (
        {
            allowsNull = N; 
            columnName = externalOutcomeId; 
            name = externalOutcomeId; 
            prototypeName = id; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = programOutcomeId; 
            name = programOutcomeId; 
            prototypeName = id; 
        }
    ); 
    className = "org.webcat.outcomesmeasurement.OutcomePair"; 
    classProperties = (courseworks, externalOutcome, measures, programOutcome); 
    externalName = OutcomePair; 
    fetchSpecificationDictionary = {}; 
    name = OutcomePair; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Coursework; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = outcomePairID; sourceAttribute = id; }); 
            name = courseworks; 
        }, 
        {
            destination = ExternalOutcome; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = externalOutcomeId; }); 
            name = externalOutcome; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = MeasureOutcomePair; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = outcomePairOid; sourceAttribute = id; }); 
            name = measureOutcomePairs; 
            propagatesPrimaryKey = Y; 
        }, 
        {definition = "measureOutcomePairs.measure"; name = measures; }, 
        {
            destination = ProgramOutcome; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = programOutcomeId; }); 
            name = programOutcome; 
        }
    ); 
}
