{
    name             = "Night";
    dirName          = night;
    version.major    = 1;
    version.minor    = 0;
    version.revision = 0;
    version.date     = 20090227;
    provider         = "Virginia Tech Computer Science";
    provider.url     = "http://web-cat.cs.vt.edu/updates";
    license          = "GNU General Public License v.2";
    license.url      = "http://www.gnu.org/copyleft/gpl.html";
    copyright        = "(c) 2009 Virginia Tech Department of Computer Science";
    info.url         = "http://web-cat.cs.vt.edu/WCWiki/NightTheme";
    history.url      = "http://web-cat.cs.vt.edu/WCWiki/NightTheme/ChangeHistory";
    author           = "Stephen Edwards (edwards@cs.vt.edu)";
    authorUid        = edwards;
    description      = "A dark night time sky, with contrasting white text.";
    credits          = "Brought to you by ...";
    preview          = "night-preview.png";
    thumb            = "night-thumb.png";

//    extends = ocean;
    extends = colourise;
    cssOrder = (
        {
            file = "night.css";
            media = "screen, projection, tv";
        }
    );

}
