<font size="-1">Total of <webobject name="Count"/><webobject name="IsBatchedDisplay">,
    Showing <webobject name="ItemsPerBatch"/>
    per page&nbsp;&nbsp;&nbsp;
    <webobject name="LeftArrow"/>&nbsp;
    page <webobject name="BatchNumber"/> of <webobject name="TotalBatches"/>
    &nbsp;<webobject name="RightArrow"/>
    <webobject name="Go"/>
</webobject><webobject name="IsNotBatchedDisplay"><webobject name="CanShowFewer">
<webobject name="Fewer"/></webobject></webobject><webobject name="HasUserFilter"><br />
<wo:WCTitlePane title="Filters" open="$open" class="inline">
<table class="layout nomargin">
<tr><td class="R">First name: <webobject name="FirstOp"/></td><td><webobject name="FirstNamePattern"/></td><td><webobject name="Filter"/></td></tr>
<tr><td class="R">Last name: <webobject name="LastOp"/></td><td><webobject name="LastNamePattern"/></td><td><webobject name="Clear"/></td></tr>
<tr><td class="R">User name: <webobject name="UserNameOp"/></td><td><webobject name="UserNamePattern"/></td></tr>
<webobject name="MultipleInstitutions"><tr><td class="R">Institution:</td><td><webobject name="InstitutionPattern"/></td></tr></webobject>
</table>
</wo:WCTitlePane></webobject></font>