<table><thead>
<tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Size</th>
    <th>Age</th>
    <th>Message</th>
</tr></thead><tbody>
<wo:if condition="$gitContext.path.length">
    <wo:tr index="$index" increment="true">
        <td>&nbsp;</td>
        <td colspan="4"><wo name="ParentLink">(Parent directory)</wo></td>
    </wo:tr>
</wo:if>
<wo name="ListingRepetition">
    <wo:tr index="$index" increment="true">
        <td><wo name="Icon"/></td>
        <td><wo name="ChildLink"><wo:str value="$anEntry.name"/><wo:if condition="$anEntry.isTree">/</wo:if></wo></td>
        <td><wo:not condition="$anEntry.isTree"><wo:str value="$anEntry.size" formatter="$application.fileSizeFormatter"/></wo:not></td>
        <td><wo:str value="$anEntryLatestCommit.commitTime" formatter="$application.approximateRelativeTimestampFormatter"/></td>
        <td><wo:if condition="$anEntryLatestCommit"><wo name="CommitLink"><wo:str value="$anEntryLatestCommit.shortMessage"/></wo> [<wo:str value="$anEntryLatestCommit.author.name"/>]</wo:if></td>
    </wo:tr>
</wo>
</tbody></table>
