<table class="layout">
  <tr>
    <td><webobject name="Form1"><webobject name="TextFieldFilterString"/><webobject name="SubmitButtonFilter"/>&nbsp;<webobject name="SubmitButtonResetFilter"/></webobject></td>
    <td>&nbsp;&nbsp;&nbsp;</td>
    <td><webobject name="Form3">Logger:&nbsp;<webobject name="TextFieldLoggerName"/><webobject name="SubmitButtonAddLogger"/></webobject></td>
    <td>&nbsp;&nbsp;</td>
    <td><webobject name="Form4">Rule Rhs:&nbsp;<webobject name="TextFieldRuleKey"/><webobject name="SubmitButtonAddRuleKey"/></webobject></td>
  </tr>
</table>
<webobject name="Form2"><webobject name="SubmitButton2"/>&nbsp;<webobject name="SubmitButton4"/>&nbsp;<webobject name="SubmitButton5"/><br/>
  <br/>
  <table>
    <webobject name="RepetitionLoggers"><webobject name="GenericContainerTR">
      <td><webobject name="StringLoggerName"/></td>
      <td><webobject name="StringLoggerLevel"/></td>
      <webobject name="GenericContainerTD">&nbsp;&nbsp;&nbsp;<webobject name="RadioButtonDebugLevel"/><webobject name="B1">Debug</webobject>&nbsp;&nbsp;<webobject name="RadioButtonInfoLevel"/><webobject name="B2">Info</webobject>&nbsp;&nbsp;<webobject name="RadioButtonWarnLevel"/><webobject name="B3">Warn</webobject>&nbsp;&nbsp;<webobject name="RadioButtonErrorLevel"/><webobject name="B4">Error</webobject>&nbsp;&nbsp;<webobject name="RadioButtonFatalLevel"/><webobject name="B5">Fatal</webobject>&nbsp;&nbsp;<webobject name="RadioButtonUnsetLevel"/><i>Unset</i></webobject></webobject></webobject>
  </table>
  <br/>
  <webobject name="SubmitButtonUpdate2"/>&nbsp;<webobject name="SubmitButtonShowAll2"/>&nbsp;<webobject name="SubmitButtonShowExplicitLevels2"/></webobject>
<table class="layout"><tr><td><webobject name="Form7"><a target="_new" href="http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html">Conversion Pattern</a>: <webobject name="TextFieldFilterString2"/><webobject name="SubmitButtonFilter2"/></webobject></td></tr></table>
<webobject name="ShowLoggerString"><br/><textarea cols="60" rows="20" wrap="off"><webobject name="LoggerString"/></textarea></webobject>
