/* =================================================================== */
/* @group Page Content
====================================================================== */

body {
	background-color: #221934;
	background-image: url(dawn.jpg);
	background-position: top right;
}


/* @end
====================================================================== */
