<wo:if condition="$includePageWrapping"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><wo:str value="$pageTitle"/></title>
<wo name="DojoCss"/>
<wo name="DojoThemeCss"/>
<wo name="WcCss"/>
<wo:if condition="$doesPageSpecificStylesheetExist"><wo name="PageSpecificCss"/></wo:if>
<wo name="DojoJs"/>
<wo name="BasePageJs"/>
<script type="text/javascript">
<wo:loop list="$extraRequiresArray" item="$oneExtraRequire">dojo.require("<wo:str value="$extraRequires" />");
</wo:loop>// <!-- END_REQUIRES -->

dojo.addOnLoad(function() {
    dijit.setWaiRole(dojo.body(), "application");
// <!-- END_ON_LOAD -->
});
</script>
<wo:if condition="$doesPageSpecificJavascriptExist"><wo name="PageSpecificJs"/></wo:if>
</head>
<wo:WOGenericContainer elementName="body" class="$bodyCssClass">
<wo:WOComponentContent />
</wo:WOGenericContainer>
</html></wo:if><wo:else><wo:WOComponentContent/></wo:else>