/* =================================================================== */
/* @group Basic Overrides
====================================================================== */

.dijitReset,
.dijitTextArea { color: black; }

.nihilo .dijitProgressBarEmpty {
    border-color: white;
}

.nihilo .dijitTimePickerTick { color: #555; }

.nihilo .WCTreeControlCollapsed {
    background-position: -32px 0px;
}

.nihilo .WCTreeControlExpanded {
    background-position: -48px 0px;
}

/* @end
====================================================================== */
/* @group Collapsible Modules
====================================================================== */

.nihilo .dijitTitlePane .dijitTitlePaneTitle {
    color: #feb;
    border-bottom-color: #feb;
}

.nihilo .dijitTitlePaneFocused .dijitTitlePaneTextNode,
.nihilo .dijitOpen .dijitTitlePaneTextNode,
.nihilo .dijitTitlePaneTextNode {
	    color: #feb;
}


/* @end
====================================================================== */
/* @group Buttons
====================================================================== */

.nihilo .dijitFileInputButton,
.nihilo .dijitFileInputText,
.nihilo .dijitDropDownButton .dijitButtonNode,
.nihilo .dijitButton .dijitButtonNode {
    border-color: #888;
    border-bottom-color: #333;
    background: black;
}

.nihilo .dijitFileInputButton,
.nihilo .dijitFileInputText,
.nihilo .dijitDropDownButton .dijitButtonNode button,
.nihilo .dijitButton .dijitButtonNode button {
    background-color: black;
    background-image: url(buttonEnabled.png);
}

.nihilo .dijitDropDownButton .dijitReset.dijitButtonNode .dijitReset,
.nihilo .dijitFileInputText,
.nihilo .dijitFileInputButton,
.nihilo .dijitButton .dijitReset.dijitButtonNode .dijitReset {
    color: #ccc;
}

.nihilo .dijitButton.pos .dijitReset.dijitButtonNode .dijitReset {
    color: #7c7;
}

.nihilo .dijitButton.neg .dijitReset.dijitButtonNode .dijitReset {
    color: #c77;
}

.nihilo .dijitDropDownButton .dijitDropDownButtonDisabled .dijitReset.dijitButtonNode .dijitReset,
.nihilo .dijitButton .dijitButtonDisabled .dijitReset.dijitButtonNode .dijitReset {
    color: black;
}

.nihilo .dijitButtonDisabled .dijitButtonNode,
.nihilo .dijitButtonDisabled .dijitButtonNode button {
    background-color: #777;
}

.nihilo .dijitButtonDisabled .dijitReset.dijitButtonNode .dijitReset {
    color: #333;
}

.nihilo .dijitFileInputButton:hover,
.nihilo .dijitFileInputText:hover,
.nihilo .dijitDropDownButtonHover .dijitReset.dijitButtonNode,
.nihilo .dijitButtonHover .dijitReset.dijitButtonNode {
    background-color: #222;
    border-color: #999;
    border-bottom-color: #444;
}

.nihilo .dijitDropDownButtonHover .dijitReset.dijitButtonNode button,
.nihilo .dijitButtonHover .dijitReset.dijitButtonNode button {
    background-color: #111;
}

.nihilo .dijitButtonHover.pos .dijitReset.dijitButtonNode {
    background-color: #242;
}
.nihilo .dijitButtonHover.pos .dijitReset.dijitButtonNode button {
    background-color: #131;
}

.nihilo .dijitButtonHover.pos .dijitReset.dijitButtonNode .dijitReset {
    color: #afa;
}

.nihilo .dijitButtonHover.neg .dijitReset.dijitButtonNode {
    background-color: #422;
}
.nihilo .dijitButtonHover.neg .dijitReset.dijitButtonNode button {
    background-color: #311;
}

.nihilo .dijitButtonHover.neg .dijitReset.dijitButtonNode .dijitReset {
    color: #faa;
}

.nihilo .dijitFileInputButton:hover,
.nihilo .dijitFileInputText:hover,
.nihilo .dijitDropDownButtonHover .dijitReset.dijitButtonNode .dijitReset,
.nihilo .dijitButtonHover .dijitReset.dijitButtonNode .dijitReset {
    color: white;
}


/* @end
====================================================================== */
/* @group Sliders
====================================================================== */

.dijitRuleLabel {
    color: #ccc;
}

.dijitRuleMark {
    border-color: #ccc;
}


/* @end
====================================================================== */
/* @group WCDropDownList
====================================================================== */

.WCDropDownList {
    background-image: url(../base/images/white-30.png);
    color: #fff;
    border-color: #555;
}

.WCDropDownListMenu ul li {
    border-bottom-color: #333;
}

.WCDropDownListMenu ul {
    background-image: url(../base/images/black-80.png);
}

.WCDropDownListMenu li.WCDropDownSelectable a {
    background-color: transparent;
}

.WCDropDownListMenu li.WCDropDownSelectable:hover {
    background-image: url(../base/images/highlight-25.png);
}

.WCDropDownListArrow {
    background-position: 0px 0px;
}


/* @end
====================================================================== */
/* @group Diff text displays
====================================================================== */

.diff-added {
    background-color: #dfd;
}

.diff-removed {
    background-color: #fdd;
}

.diff-header {
    background-color: #ddd;
    color: #555;
}


/* @end
====================================================================== */
