{
    name             = "Nihilo Dark";
    dirName          = nihilo-dark;
    version.major    = 1;
    version.minor    = 0;
    version.revision = 1;
    version.date     = 20100205;
    provider         = "Virginia Tech Computer Science";
    provider.url     = "http://web-cat.cs.vt.edu/updates";
    license          = "GNU General Public License v.2";
    license.url      = "http://www.gnu.org/copyleft/gpl.html";
    copyright        = "(c) 2009-2010 Virginia Tech Department of Computer Science";
    info.url         = "http://web-cat.cs.vt.edu/WCWiki/NihiloDarkTheme";
    history.url      = "http://web-cat.cs.vt.edu/WCWiki/NihiloaDarkTheme/ChangeHistory";
    author           = "Stephen Edwards (edwards@cs.vt.edu)";
    authorUid        = edwards;
    description      = "A variation of the Base theme that also customizes
        the Dojo nihilo style to use dark buttons and text styling suitable
        for darker backgrounds.";
    isForThemeDevelopers = true;

    isDark = true;
    extends = nihilo;
    cssOrder = (
        {
            file = "nihilo-dark.css";
            media = "screen, projection, tv";
        }
    );

}
