<wo:WCPageWithNavigation>

<wo:WCPageModule title="Assignments Accepting Submissions">

<table>
<thead>
<tr><th>Assignment</th><th>Due</th><th class="sm">Score Distribution</th><th>Action</th></tr>
</thead><tbody>
<tr class="o"><td><a href="">CS 3304(91759) Program 2: OSIL Interpreter in Scheme</a></td>
<td class="nowrap">10/17/08 11:55PM</td>
<td valign="center"><table class="distchart"><tr>
<td class="b2"></td>
<td class="b0"></td>
<td class="b1"></td>
<td class="b1"></td>
<td class="b0"></td>
<td class="b0"></td>

<td class="b0"></td>
<td class="b1"></td>
<td class="b0"></td>
<td class="b7"><wo name="Marker9"/></td>
</tr></table></td>
<td class="nowrap"><a href="" title="Submit to this assignment" border="0" title="Submit to this assignment"><wo name="Upload"/></a><a href="" title="View your most recent results" border="0" title="View your most recent results"><wo name="Report"/></a><a href="" title="Graph your results" border="0" title="Graph your results" ><wo name="Graph"/></a></td></tr>

<tr class="e"><td><a href="">CS 1705(12345) Program 1: Invisible Box Game</a></td>
<td class="nowrap">12/31/08 11:55PM</td>
<td valign="center"><table class="distchart"><tr>
<td class="b8"></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>

<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b8"><wo name="Marker9"/></td>
</tr></table></td>
<td class="nowrap"><a href="" title="Submit to this assignment" border="0" title="Submit to this assignment"><wo name="Upload"/></a><a href="" title="View your most recent results" border="0" title="View your most recent results"><wo name="Report"/></a><a href="" title="Graph your results" border="0" title="Graph your results"><wo name="Graph"/></a></td></tr>

<tr class="o"><td><a href="">CS 1705(12345) Lab 3: Array Lists</a></td>
<td class="nowrap">12/31/08 11:55PM</td>
<td valign="center"><table class="distchart"><tr>
<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b0"></td>

<td class="b7"></td>
<td class="b0"></td>
<td class="b7"><wo name="Marker9"/></td>
<td class="b0"></td>
<td class="b0"></td>
<td class="b7"></td>
</tr></table></td>
<td class="nowrap"><a href="" title="Submit to this assignment" border="0" title="Submit to this assignment"><wo name="Upload"/></a><a href="" title="View your most recent results" border="0" title="View your most recent results"><wo name="Report"/></a><a href="" title="Graph your results" border="0" title="Graph your results"><wo name="Graph"/></a></td></tr>
</tbody></table>
</wo:WCPageModule>

<wo:WCPageModule title="Announcements" open="true">
<ul>
<li><p><span class="date">[2008-10-16]</span>
If youre are <b>new to Web-CAT</b>, you might want to watch this <a href="http://web-cat.cs.vt.edu/WCWiki/SubmissionWalkthrough">movie of making a submission</a>, which also explains how to interpret results.</p>
</li><li><p><span class="date">[2008-10-16]</span>
An <b>Internet Explorer bug</b> may prevent you from downloading files from Web-CAT.  You can find out the cause of this bug, as well as available workarounds, in this <a href="http://people.cs.vt.edu/~edwards/Web-CAT-Development-Blog/web-cat-06-08-28a.html">article on the Web-CAT blog</a>.  Some Firefox bugs are also covered in other blog articles.</p>
</li><li><p><span class="date">[2008-10-16]</span>
<b>Daily down time</b> is scheduled at <span class="hl">4:00AM each morning</span>.  Web-CAT will automatically shut down for a few minutes for house cleaning, and should resume operation automatically within 5-15 minutes.  Plan your actions accordingly.</p>
</li></ul>

</wo:WCPageModule>

<wo:WCPageModule title="System Status" open="false">
<table><thead>
<tr><th colspan="2">System Status</th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr><tr class="o">
  <td>Jobs processed</td><td class="n">132</td>
</tr><tr class="e">
  <td>Most recent job wait</td><td class="n">12 seconds</td>
</tr><tr class="o">
  <td>Average time per job</td><td class="n">12 seconds</td>
</tr><tr class="e">
  <td>New submissions processed in about</td><td class="n">12 seconds</td>
</tr><tr class="o">
  <td>Halted assignments</td><td class="n">1</td>
</tr><tr class="e">
  <td>Stalled jobs</td><td class="n">0</td>
</tr></tbody></table>
</wo:WCPageModule>

</wo:WCPageWithNavigation>
