<wo:WCPageWithNavigation>
<wo:WCPageModule title="Examples of Measures">
<p>
Outcomes are measured by collecting scores that represent student performance on some task that is directly related to that outcome.
</p><p>
Most often, these scores come from an assignment, a portion of an assignment, or portions of several assignments.
</p><p>
Frequently, the scores on the measure are also used as part of the student's grade--that is, they come from graded work, and the measure is all or part of the earned grade for one or more assignments. This is not mandatory, however--there is no requirement that measures you use for course or program objectives must come from some part of a student's grade.
</p><p>
Frequently, measures are numeric--usually because they come from all or part of some assignment's score. However, measures need not be numeric. Categorical ratings driven by a written rubric or some other repeatable mechanism are also OK.
</p></wo:WCPageModule>

<wo:WCPageModule title="Good Examples of Measures">
<p>
Suppose one course outcome states that students will be able to write program control structures. Homework assignments #2 and #3 in your course focus exclusively on practice writing if statements, while loops, and for loops. You decide to use the sum of the Homework #2 and #3 scores as your measure for this outcome.
</p><p>
Suppose one course outcome states that students can use big-Oh analysis to characterize the running time of simple algorithms. Question 8 on the midterm and Questions 3 and 11 on the final exam all focus on this task. You decide to use the sum of the scores on these three questions as your measure for this outcome.
</p><p>
Suppose one course outcome states that students can communicate in writing effectively. On a term project, you allocated 20% of the student grade for the quality of the writing, and you recorded how students scored for this portion of the assignment (not simply their total score on the assignment). You decide to use each student's score on the writing quality portion of their term project as your measure for this outcome.
</p>
</wo:WCPageModule>

<wo:WCPageModule title="Bad Examples of Measures">
<p>
Suppose one course outcome states that students will be able to write program control structures.  In your course, students were expected to use both if statements and loops in completing programming assignments #2 and #3. You decide to use the sum of their program #2 and #3 scores as your measure for this outcome.
</p>
<blockquote><b>Why is this a bad choice?</b> While students may have used control structures to write solutions to these two assignments, the total grade on the assignments is likely based on many other factors, rather than just on whether or not they used control structures correctly. If their total program score also includes judgements about their overall program design, the quality of their comments, their ability to produce the correct output, whether they turned their work in on time, the elegance of their solution, etc., then the overall scores on the assignments conflates all of these dimensions into one number. If they receive a 70% on such an assignment, it isn't possible to tease apart what that single number says about their design, their comments, their time management, their ability to read an assignment description, ... or their mastery of basic control constructs.
</blockquote>

<p>
Suppose one course outcome states that students can use big-Oh analysis to characterize the running time of simple algorithms. Question 8 on the midterm and Questions 3 and 11 on the final exam all focus on this task. You decide to use the sum of the scores on these two tests as your measure for this outcome.
</p>
<blockquote><b>Why is this a bad choice?</b> As with the previous example, using the total test scores conflates performance on all the other questions--which may be focused on completely different topics--into one number. While that number may be an aggregate indicator of overall performance on many goals, it does not give much direct insight into the outcome of interest here.
</blockquote>

<p>
Suppose one course outcome is that students can communicate in writing effectively. On a term project, students had to write a final report and then present it orally in class. The grade for the project was based primarily on technical content, and was judged on the presentation and report together. You decide to use each student's final project grade as your measure for this outcome.
</p>
<blockquote><b>Why is this a bad choice?</b> Despite the fact that writing effort was involved, if student scores were not based on their ability to communicate in writing effectively, those scores do not relate to achievement of this outcome. Further, the project score conflates a number of dimensions of performance into a single number, losing any detail about student performance regarding written communication.
</blockquote>
</wo:WCPageModule>
</wo:WCPageWithNavigation>
