{
    attributes = (
        {columnName = CDATEFORMAT; name = dateFormat; prototypeName = tinyText; }, 
        {
            columnName = CDEFAULTEMAILDOMAIN; 
            name = defaultEmailDomain; 
            prototypeName = tinyText; 
        }, 
        {
            columnName = CDEFAULTURLPATTERN; 
            name = defaultURLPattern; 
            prototypeName = tinyText; 
        }, 
        {
            columnName = CDISPLAYABLENAME; 
            name = displayableName; 
            prototypeName = tinyText; 
        }, 
        {name = id; prototypeName = id; }, 
        {columnName = CPROPERTYNAME; name = propertyName; prototypeName = tinyText; }, 
        {columnName = CTIMEFORMAT; name = timeFormat; prototypeName = tinyText; }, 
        {columnName = CTIMEZONENAME; name = timeZoneName; prototypeName = tinyText; }
    ); 
    attributesUsedForLocking = (
        dateFormat, 
        defaultEmailDomain, 
        defaultURLPattern, 
        displayableName, 
        propertyName, 
        timeFormat, 
        timeZoneName
    ); 
    className = "org.webcat.core.AuthenticationDomain"; 
    classProperties = (
        dateFormat, 
        defaultEmailDomain, 
        defaultURLPattern, 
        displayableName, 
        propertyName, 
        timeFormat, 
        timeZoneName
    ); 
    externalName = TAUTHENTICATIONDOMAIN; 
    name = AuthenticationDomain; 
    primaryKeyAttributes = (id); 
}
