{
    attributes = (
        {columnName = code; name = code; prototypeName = tinyText; }, 
        {columnName = expireTime; name = expireTime; prototypeName = dateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = userId; 
            name = userId; 
            prototypeName = foreignId; 
        }
    ); 
    attributesUsedForLocking = (code, userId); 
    className = "org.webcat.core.PasswordChangeRequest"; 
    classProperties = (code, expireTime, user); 
    externalName = PasswordChangeRequest; 
    name = PasswordChangeRequest; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = User; 
            isMandatory = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userId; }); 
            name = user; 
        }
    ); 
}
