{
    attributes = (
        { name = id; prototypeName = id; },
        {
            allowsNull = N;
            columnName = CDIRNAME;
            name = dirName;
            prototypeName = tinyText;
        },
        {
            columnName = CISFORTHEMEDEVELOPERS;
            name = isForThemeDevelopers;
            prototypeName = boolean;
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; };
        },
        {columnName = CLASTUPDATE; name = lastUpdate; prototypeName = dateTime; },
        {columnName = CNAME; name = name; prototypeName = tinyText; },
        {
            columnName = CPROPERTIES;
            name = properties;
            prototypeName = mutableDictionary;
            userInfo = {
                adaptorValueConversionMethodName = archiveData;
                isMutable = true;
                valueClassName = "org.webcat.core.MutableDictionary";
                valueFactoryMethodName = objectWithArchiveData;
            };
        },
        {
            name = updateMutableFields;
            prototypeName = updateMutableFields;
            userInfo = {isScalar = true; scalarDefault = false; type = boolean; };
        }
    );
    attributesUsedForLocking = (dirName, isForThemeDevelopers, name, updateMutableFields);
    className = "org.webcat.core.Theme";
    classProperties = (
        dirName,
        isForThemeDevelopers,
        lastUpdate,
        name,
        properties,
        updateMutableFields
    );
    externalName = TTHEMES;
    name = Theme;
    primaryKeyAttributes = (id);
    relationships = (
    );
}
