{
    attributes = (
        {
            columnName = sentMessageId; 
            externalType = INT; 
            name = sentMessageId; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = userId; 
            externalType = INT; 
            name = userId; 
            valueClassName = NSNumber; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (sentMessageId, userId); 
    className = EOGenericRecord; 
    externalName = UserSentMessage; 
    fetchSpecificationDictionary = {}; 
    name = UserSentMessage; 
    primaryKeyAttributes = (sentMessageId, userId); 
    relationships = (
        {
            destination = SentMessage; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = sentMessageId; }); 
            name = sentMessage; 
        }, 
        {
            destination = User; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = userId; }); 
            name = user; 
        }
    ); 
}
