<wo name="TH">
<wo:not condition="$isCountingHeadings">
<wo:str value="$title"/><wo:content/>
<wo:if condition="$sortOnKeyPaths">
    <wo name="SortLink">
        <wo:if condition="$isCurrentSortOrder">
            <wo:if condition="$isAscending">
                <wo name="AscendingImage"/>
            </wo:if><wo:else>
                <wo name="DescendingImage"/>
            </wo:else>
        </wo:if><wo:else>
            <wo name="UnsortedImage"/>
        </wo:else>
    </wo>
</wo:if>
</wo:not>
</wo>
