<wo:org.webcat.core.WCPageModule title="System Status" open="$startOpen">
<table><thead><tr><th colspan="2">System Status</th></tr></thead><tbody>
<webobject name="TR">
  <td>Up since</td><td class="n"><webobject name="StartTime"/></td>
</webobject><webobject name="TR">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</webobject><webobject name="TR">
  <td>Current users</td><td class="n"><webobject name="UserCount"/></td>
</webobject>
<webobject name="SubsystemRows"/>
</tbody></table></wo:org.webcat.core.WCPageModule>