<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.webcat.eclipse.perspective.java.VTCSJavaPerspectiveFactory"
            name="VT CS Java"
            id="net.sf.webcat.eclipse.perspective.java.VTCSJavaPerspective"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.sf.webcat.eclipse.perspective.java.VTCSJavaPerspective">
         <viewShortcut id="org.eclipse.jdt.ui.PackageExplorer"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
         <viewShortcut id="org.eclipse.ui.views.TaskList"/>
         <viewShortcut id="org.eclipse.debug.ui.BreakpointView"/>
         <perspectiveShortcut id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspectiveShortcut id="net.sf.webcat.eclipse.perspective.java.VTCSJavaPerspective"/>
      </perspectiveExtension>
   </extension>

</plugin>
