/* =================================================================== */
/* @group Page Content
====================================================================== */

body {
    background-color: #92afeb;
    background-image: url(dream-way.jpg);
}


/* @end
====================================================================== */

#header .title h1,
#header .title h2 {
    color:  white;
}

#roles, #utils {
    color:  #115;
}

#roles a, #utils a, #roles span {
    color:  #115;
    background-image: url(../base/images/white-40.png);
    background-color: transparent;
    text-decoration: none;
    padding: 0.1em 0.5em;
}

#roles a:hover, #utils a:hover, #roles a.here {
    color: white;
    background-image: url(../base/images/black-70.png);
    text-decoration: underline;
}

#header a:hover,
#footer a:hover {
    border-bottom: none;
}

#footer {
    color: #115;
}

#footer a {
    color: #115;
    background-image: url(../base/images/white-60.png);
    background-color: transparent;
    text-decoration: none;
    padding: 0.1em 0.5em;
}

#footer a:hover {
    color: white;
    background-image: url(../base/images/black-70.png);
    text-decoration: underline;
}


/* @end
====================================================================== */
/* @group Main Menu
====================================================================== */

#mainMenu li {
}

#mainMenu a {
    color: #115;
    background-image: url(../base/images/white-40.png);
    background-color: transparent;
}

#mainMenu a:hover,
#mainMenu .here a,
#roles span.here {
    color: white;
    background-image: url(../base/images/black-50.png);
}

#mainMenu li:hover a {
    color: white;
    background-image: none;
}

#mainMenu > li:hover > a {
    color: white;
    background-image: url(../base/images/black-80.png);
}

#mainMenu :hover  ul {
    color: white;
    background-image: url(../base/images/black-80.png);
}

#mainMenu li:hover li:hover > a,
#mainMenu li.here:hover li.here:hover > a {
    color: black;
    background-image: url(../base/images/white-40.png);
}
#mainMenu li.here:hover li.here > a {
    color: black;
    background-image: url(../base/images/white-50.png);
}

#mainMenu li a:hover ul li a:hover {
    background-image: url(../base/images/white-40.png);
}


/* @end
====================================================================== */
/* @group Basic Look
====================================================================== */

a, a:active, a:link {
    text-decoration: none;
    color: #22d;
}
span.hl a, span.hl a:active, span.hl a:link {
    color: #ddf;
}
a:visited { text-decoration: none; }
a:hover, span.hl a:hover {
    background-color: #ddf;
    color: #000;
}
a:hover {
    border-bottom: 1px dotted black;
}

h1, h2, h3, h4, h5, h6 { color: #44b; }
.disabled { color: #555; }
b, strong { color: #115; }
.check { color: #0b0; }
.warn  { color: #a00; }
.date { color: #777; }

span.hl {
    font-weight: bold;
    /* color: #aad518;
       padding: 0 2px; */
    /* background-image: url(../base/images/white-40.png);
    color: black; */
    color: white;
    background-color: #44b;
    padding: 0.1em 0.3em;
}

.module {
    background: transparent url(../base/images/white-90.png) repeat top left;
    color:  #444;
}

pre, .code {
    background-image: url(../base/images/black-05.png);
    border-left: 4px solid #115;
    color: black;
}

label em { color: #e20; }


/* @end
====================================================================== */
/* @group WCDropDownList
====================================================================== */

.WCDropDownList {
    border-color: #8299D8;
}


/* @end
====================================================================== */
/* @group =Tables
====================================================================== */

table {
    border: 1px solid #115;
}

table th {
    background-color: #44b;
    color: #eee;
}

.aristo table th .dijitTextBox,
.aristo table th .dijitComboBox,
.aristo table th .dijitSpinner,
.aristo table th .dijitTextArea,
.aristo table th .dijitInlineEditor input {
    color: black;
}

table th a, table th a:active, table th a:link {
    color: #cce;
}
table th a:hover {
    background-color: #55d;
    color: white;
    border-bottom: 1px dotted white;
}

table thead {
    border-bottom: 1px solid #115;
}

.batchnav { background-image: url(../base/images/black-20.png); }

/* tr.o  { background-color: transparent; } */
tr.e  { background-image: url(../base/images/black-05.png); }

.selected,
tr.o.selected,
.theme-thumb.selected { background-color: #aec9ef; border: 1px solid #888; }
tr.e.selected {
    background-image: none;
    background-color: #a5bfe3;
}
tr.e span.selected { background-color: #a5bfe3; }

.caution, tr.o.caution, tr.o.caution.selected, tr.o span.caution {
    background-color: #ef4; }
tr.e.caution,
tr.e.caution.selected {
    background-image: none;
    background-color: #de3;
}
tr.e span.caution { background-color: #de3; }

.error,
tr.o.error,
tr.o.caution.error,
tr.o.error.selected,
tr.o.caution.error.selected,
tr.o span.error { background-color: #faa; }
tr.e.error,
tr.e.caution.error,
tr.e.error.selected,
tr.e.caution.error.selected {
    background-image: none;
    background-color: #f99;
}
tr.e span.error { background-color: #f99; }


    /*
    ================================================================== */
    /* @group Mini-Histogram
    ================================================================== */

    table.distchart {
        background-color: white;
        border-bottom: 1px solid black;
    }


    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Paginated tables
    ================================================================== */

    table .pagination .active {
        background-color: rgba(255, 255, 255, 0.9);
        color: #444;
        border-color: gray;
    }

    table .pagination .current {
        border-color: gray;
        color: #444;
        background-color: #A0C0FF;
    }

    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Meter
    ================================================================== */

    table.percentbar td.plus  { background-color: #00df00; }
    table.percentbar td.minus { background-color: #df0000; }
    table tr#divider td { border-top: 1px solid #aaa; }


    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Printout
    ================================================================== */


    /* @end
    ================================================================== */


/* @end
====================================================================== */
/* @group Notices
====================================================================== */




/* @end
====================================================================== */
/* @group Dojo Nihilo
====================================================================== */

.nihilo .dijitTitlePane .dijitTitlePaneTitle {

    color: #115;
    border-bottom: 1px solid #115;
}

.nihilo .dijitTitlePaneFocused .dijitTitlePaneTextNode,
.nihilo .dijitOpen .dijitTitlePaneTextNode,
.nihilo .dijitTitlePaneTextNode {
    color: #115;
}


form fieldset {
    border: 1px solid #115;
}

.dijitTooltipContainer form fieldset {
    border-color: #115;
}


/* @end
====================================================================== */
