<webobject name="Page">

<wo:org.webcat.core.WCPageModule title="Account Information">
<p>You are <span class="hl"><webobject name="UserName"/></span> registered in
the domain <span class="hl"><webobject name="DomainName"/></span>.</p>
<webobject name="Form1">
<table class="layout">
<tr><td class="R">First name:</td><td><webobject name="FirstName"/></td></tr>
<tr><td class="R">Last name:</td><td><webobject name="LastName"/></td></tr>
<tr><td class="R">E-mail:</td><td><webobject name="Email"/></td></tr>
<tr><td class="R">URL:</td><td><webobject name="URL"/></td></tr>
<webobject name="CanChangePassword">
<tr><td class="R">New password:</td>
    <td><webobject name="NewPassword1"/></td></tr>
<tr><td class="R">Confirm password:</td>
    <td><webobject name="NewPassword2"/></td></tr>
</webobject>
<tr><td></td>
    <td><webobject name="ApplyChanges"/></td></tr>
</table></webobject>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="My Repositories"
    open="$user.generateKey.user.preferences.MyProfilePage_repositories_open">
<p>The repositories listed below can be accessed using any <b>Git</b> client that
supports the <b>smart HTTP protocol</b> by using the URLs below. You can also
visit the URLs in your web browser to view the contents and commit history of
the repositories through a web interface, and to make basic file changes. If you are asked to log in to access the repository, you should use the user
name <span class="hl"><wo:str value="$session.user.authenticationDomain.name"/>.<wo:str value="$session.user.userName"/></span>
and your normal Web-CAT password.</p>
<table>
<thead><tr>
<th colspan="2">Repository</th><th>URL (click to browse, or copy and paste)</th>
</tr></thead>
<tbody>
<wo name="RepositoryRepetition"><wo:tr index="$indexOfARepositoryProvider">
    <td><wo:str value="$aRepositoryProvider.entityName"/>:</td>
    <td><wo:str value="$aRepositoryProvider.apiId"/></td>
    <td><wo name="RepositoryLink"/></td>
</wo:tr></wo>
</tbody></table>
<h2>WebDAV Access</h2>
<p>You can also access all of your Web-CAT repositories using a WebDAV client.
This can be useful for single users managing their personal repository. However,
if you are managing a multiple-user repository such as a Course, we highly
recommend that you use Git access above so that you may better manage your
changes and properly synchronize content with other users.</p>
<p>
WebDAV URL: <wo name="WebDAVLink"/>
</p>
</wo>

<wo:org.webcat.core.WCPageModule title="My Courses" open="false">
<webobject name="EnrolledInCourses">
<p>You are currently <b>enrolled in</b> these courses:</p>
<table><thead><tr><th>Course</th><th>Name</th><th>Instructor</th></tr></thead><tbody>
<webobject name="EnrollmentRepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><wo:if condition="$anInstructor.url"><webobject name="InstructorName"/></wo:if><wo:else><wo:str value="$anInstructor.shortName"/></wo:else>
</webobject></td>
</webobject></webobject></tbody></table>
</webobject><webobject name="NotEnrolledInCourses">
<p>You are not currently <b>enrolled in</b> any courses.</p>
</webobject>
<webobject name="CanTA">
<webobject name="TAInCourses">
<p>You are a <b>TA</b> for these courses:</p>
<table><thead><tr><th>Course</th><th>Name</th><th>Instructor</th></tr></thead><tbody>
<webobject name="TARepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><webobject name="InstructorName"/>
</webobject></td>
</webobject></webobject></tbody></table>
</webobject><webobject name="NotTAInCourses">
<p>You are not currently registered as the <b>TA</b> for any courses.</p>
</webobject></webobject>
<webobject name="CanTeach">
<webobject name="TeachingCourses">
<p>You are an <b>instructor</b> for these courses:</p>
<table><thead><tr><th>Course</th><th>Name</th><th>Instructor</th></tr></thead><tbody>
<webobject name="TeachingRepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><webobject name="InstructorName"/>
</webobject></td>
</webobject></webobject></tbody></table>
</webobject><webobject name="NotTeachingCourses">
<p>You are not currently registered as the <b>instructor</b> for any courses.</p>
</webobject></webobject>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.SubsystemFragmentCollector fragmentKey="userProfile"/>

<wo:org.webcat.core.WCPageModule title="Display Theme" open="$openThemes">
<wo:loop list="$allThemes" item="$aTheme">
  <wo name="ThemeTable"><tr><td>
    <wo name="PreviewLink"><wo name="ThemeThumb"/></wo>
    </td><td><h3><wo:link action="$changeTheme"><wo:str value="$aTheme.name"/></wo:link></h3>
    <wo:str value="$aTheme.inherit.properties.description"/><br/>
    <wo:if condition="~(aTheme.id == session.theme.id)">
    (currently selected)
    </wo:if><wo:else><wo:link action="$changeTheme">Select</wo:link>
    </wo:else><wo:if condition="~(@org.webcat.core.Theme@defaultTheme().id() == aTheme.id)"> (default)</wo:if></td></tr>
  </wo>
</wo:loop>
<h2 style="clear:both">Customize My Selected Theme</h2>
<wo:WCForm><table class="layout">
<tr><td class="R">Use a custom background URL:</td>
    <td><wo:WOTextField value="$backgroundUrl" size="60"/> <wo name="CustomBackgroundInfo"/></td></tr>
<tr><td>Add a custom CSS URL:</td>
    <td><wo:WOTextField value="$extraCss" size="60"/> <wo name="CustomCssInfo"/></td></tr>
<tr><td></td><td>
<wo:WCButton action="$applyThemeCustomizations" label="Save"/>
</td></tr></table></wo:WCForm>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="Personalized Service URLs" open="false">
<table class="layout"><tbody>
<tr><td class="R">BlueJ submission definitions:</td>
    <td><wo:link href="$bluejUrl">copy and paste this link</wo:link>
    <wo name="BlueJLinkInfo"/></td></tr>
<tr><td class="R">Eclipse submission definitions:</td>
    <td><wo:link href="$eclipseUrl">copy and paste this link</wo:link>
    <wo name="EclipseLinkInfo"/></td></tr>
<tr><td class="R">iCalendar export URL:</td>
    <td><wo:link href="$icalUrl">copy and paste this link</wo:link>
    <wo name="iCalLinkInfo"/></td></tr>
<tr><td class="R">iCalendar subscription link:</td>
    <td><wo:link href="$webcalUrl">subscribe</wo:link> <wo:link href="$webcalUrl"><wo name="iCal"/></wo:link>
    <wo name="WebcalLinkInfo"/></td></tr>
</tbody></table>
</wo:org.webcat.core.WCPageModule>

<wo:org.webcat.core.WCPageModule title="Time Formats" open="false">
<webobject name="Form2"><table class="layout">
<tr><td class="R">Time zone:</td><td><webobject name="TimeZone"/></td></tr>
<tr><td class="R">Format:</td><td><webobject name="DateFormat"/>
  <webobject name="TimeFormat"/></td></tr>
<tr><td></td>
    <td><webobject name="ApplyTimeFormats"/></td></tr>
</table></webobject>
</wo:org.webcat.core.WCPageModule>

</webobject>
