<webobject name="Page"><wo:org.webcat.core.WCPageModule title="Send Us Your Comment">
<webobject name="NotSent"><webobject name="Form1">
<table sclass="layout">
  <tr><td class="R">Name:</td><td><webobject name="UserName"/></td></tr>
  <tr><td class="R">Subject:</td><td><webobject name="Category"/></td></tr>
  <tr><td class="R" valign="top">Comment:</td>
    <td><webobject name="Text"/></td></tr>
  <tr><td></td><td><webobject name="SubmitButton"/></td></tr>
</table>
</webobject></webobject><webobject name="Sent">
<p><span class="hl">Thank you</span> for your comments!</p>
<p>Your feedback has been e-mailed to the Web-CAT administrator.</p>
</webobject></wo:org.webcat.core.WCPageModule></webobject>
