<webobject name="Page">
<h3>Preparing to install Web-CAT v<webobject name="Version"/></h3>
<div class="shadow"><table><thead>
<tr><th>Environment property</th><th>Value</th></tr></thead><tbody>
<tr class="o"><td>Operating system</td><td><webobject name="OSName"/></td></tr>
<tr class="e"><td>Java vendor</td><td><webobject name="JavaVendor"/></td></tr>
<tr class="o"><td>JVM version</td><td><webobject name="JavaRuntimeVersion"/></td></tr>
<tr class="e"><td>Java home</td><td><webobject name="JavaHome"/></td></tr>
<tr class="o"><td>Java extension directory</td><td><webobject name="JavaExtDirs"/></td></tr>
<tr class="e"><td>WebObjects version</td><td><webobject name="ComWebObjectsVersion"/></td></tr>
</tbody></table></div><div class="spacer">&nbsp;</div>

<h3>Configuration file for this application</h3>
<div class="shadow"><table><thead>
<tr><th>Configuration File</th><th>Property</th></tr></thead><tbody>
<tr class="o"><td>Location</td><td><webobject name="ConfigLocation"/></td></tr>
<tr class="e"><td>Exists already?</td><td><webobject name="ConfigExists"><b class="check">Yes</b></webobject><webobject name="ConfigDoesNotExist">No</webobject></td></tr>
<tr class="o"><td>Writeable?</td><td><webobject name="ConfigWriteable"><b class="check">Writeable</b></webobject><webobject name="ConfigNotWriteable"><b class="warn">Unwriteable</b></webobject></td></tr>
</tbody></table></div><div class="spacer">&nbsp;</div>
<webobject name="ConfigNotWriteable">
<p>
Although the configuration file cannot be written by Web-CAT, you can
still continue the installation process.  The completed configuration
settings will be displayed at the end so that you can copy and paste
the contents and manually create the configuration file yourself.
<b>Be sure to place the contents at the location specified above</b>.
</p>
</webobject></webobject>
