<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- $Id: plugin.xml,v 1.7 2010/09/20 14:17:35 aallowat Exp $ -->

<plugin>
   <extension
         point="net.sf.webcat.oda.core.emptyAppContextHandlers">
      <resultProvider
            class="org.webcat.oda.designer.preview.PreviewingResultSetProvider">
      </resultProvider>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%profile.propertypage.name"
            class="org.eclipse.datatools.connectivity.oda.design.ui.pages.impl.DefaultDataSourcePropertyPage"
            id="%oda.data.source.id">
          <filter
               name="org.eclipse.datatools.profile.property.id"
               value="%oda.data.source.id">
          </filter>
          <enabledWhen>
              <instanceof
                  value="org.eclipse.datatools.connectivity.IConnectionProfile">
              </instanceof>
          </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <newWizard
            name="%newwizard.name"
            icon="icons/new_oda_dswiz.ico"
            profile="%oda.data.source.id"
            description="%newwizard.description"
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            id="%oda.data.source.id">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSourceUI
            id="%oda.data.source.id">
         <newDataSourceWizard
               pageClass="org.eclipse.datatools.connectivity.oda.design.ui.pages.impl.DefaultDataSourceWizardPage"
               includesProgressMonitor="false"
               pageTitle="%wizard.data.source.page.title"
               windowTitle="%wizard.window.title">
         </newDataSourceWizard>
      </dataSourceUI>
      <dataSetUI
            supportsOutParameters="false"
            supportsInParameters="true"
            initialPageId="org.webcat.oda.dataSet.columnMappingPage"
            id="%oda.data.set.id">
         <dataSetWizard
               class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"
               windowTitle="%wizard.data.set.window.title">
         </dataSetWizard>
         <dataSetPage
               displayName="%wizard.data.set.columnMappingPage.title"
               icon="icons/datasetpage.ico"
               wizardPageClass="org.webcat.oda.designer.impl.ColumnMappingPage"
               path="/"
               id="org.webcat.oda.dataSet.columnMappingPage">
         </dataSetPage>
      </dataSetUI>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.webcat.oda.designer.preferences.DataSetPreferencePage"
            id="org.webcat.oda.ui.preferences.DataSetPreferencePage"
            name="%preferences.root">
      </page>
      <page
            category="org.webcat.oda.ui.preferences.DataSetPreferencePage"
            class="org.webcat.oda.designer.preferences.DesignerPreferencePage"
            id="org.webcat.oda.ui.preferences.DesignerPreferencePage"
            name="%preferences.designer">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%command.category.description"
            id="org.webcat.oda.ui.commands.webCatCategory"
            name="%command.category.name">
      </category>
      <command
            categoryId="org.webcat.oda.ui.commands.webCatCategory"
            id="org.webcat.oda.ui.commands.resetPreviewCache"
            name="%command.resetPreviewCache.name">
      </command>
      <command
            categoryId="org.webcat.oda.ui.commands.webCatCategory"
            id="org.webcat.oda.ui.commands.openWebCat"
            name="%command.openWebCat.name">
      </command>
      <command
            categoryId="org.webcat.oda.ui.commands.webCatCategory"
            id="org.webcat.oda.ui.commands.refreshContentAssist"
            name="%command.refreshContentAssist.name">
      </command>
      <command
            categoryId="org.webcat.oda.ui.commands.webCatCategory"
            id="org.webcat.oda.ui.commands.deriveTransformedDataSet"
            name="Derive a Transformed Data Set...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.webcat.oda.ui.menus.webCat"
               label="%menu.webCat.name"
               mnemonic="%menu.webCat.mnemonic">
            <command
                  commandId="org.webcat.oda.ui.commands.openWebCat"
                  id="org.webcat.oda.ui.menus.openWebCat"
                  mnemonic="%menu.openWebCat.mnemonic">
            </command>
            <separator
                  name="org.webcat.oda.ui.menus.openWebCatGroupEnd"
                  visible="true">
            </separator>
            <command
                  commandId="org.webcat.oda.ui.commands.resetPreviewCache"
                  id="org.webcat.oda.ui.menus.resetPreviewCache"
                  mnemonic="%menu.resetPreviewCache.mnemonic">
            </command>
            <command
                  commandId="org.webcat.oda.ui.commands.refreshContentAssist"
                  id="org.webcat.oda.ui.menus.refreshContentAssist"
                  mnemonic="%menu.refreshContentAssist.mnemonic">
            </command>
            <separator
                  name="org.webcat.oda.ui.menus.serverActionsGroupEnd">
            </separator>
            <command
                  commandId="org.webcat.oda.ui.commands.deriveTransformedDataSet"
                  id="org.webcat.oda.ui.menus.deriveTransformedDataSet">
               <visibleWhen>
                  <reference
                        definitionId="org.webcat.oda.designer.isReportEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.webcat.oda.designer.handlers.ResetPreviewCacheHandler"
            commandId="org.webcat.oda.ui.commands.resetPreviewCache">
      </handler>
      <handler
            class="org.webcat.oda.designer.handlers.OpenWebCATHandler"
            commandId="org.webcat.oda.ui.commands.openWebCat">
      </handler>
      <handler
            class="org.webcat.oda.designer.handlers.RefreshContentAssistHandler"
            commandId="org.webcat.oda.ui.commands.refreshContentAssist">
      </handler>
      <handler
            class="org.webcat.oda.designer.handlers.DeriveTransformedDataSetHandler"
            commandId="org.webcat.oda.ui.commands.deriveTransformedDataSet">
      </handler>
   </extension>
   <extension
         point="org.eclipse.birt.report.designer.ui.editors.multiPageEditorContributor">
      <targetEditor
            targetEditorId="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
         <formPage
               actionBarContributor="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
               class="org.webcat.oda.designer.metadata.OverviewFormPage"
               displayName="Overview"
               id="org.webcat.oda.ui.editors.metadata"
               position="left"
               relative="org.eclipse.birt.report.designer.ui.editors.layout"
               visible="true">
         </formPage>
      </targetEditor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.webcat.oda.designer.isReportEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.birt.report.designer.ui.editors.ReportEditor">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
