/* =================================================================== */
/* @group Page Content
====================================================================== */

body {
    background-color: #b3a483;
    background-image: url(beach.jpg);
    background-position: top left;
}


/* @end
====================================================================== */
/* @group Header/Footer
====================================================================== */

#header .title h1,
#header .title h2 {
    color:  white;
}

#roles, #utils {
    color:  white;
}

#roles a, #utils a, #roles span {
    color:  white;
    background-image: url(../base/images/white-15.png);
    background-color: transparent;
    text-decoration: none;
    padding: 0.1em 0.5em;
}

#roles a:hover, #utils a:hover, #roles a.here {
    background-image: url(../base/images/black-70.png);
    text-decoration: underline;
}

#header a:hover,
#footer a:hover {
    border-bottom: none;
}

#footer {
    color: #111;
}

#footer a {
    color: #111;
    background-image: url(../base/images/white-60.png);
    background-color: transparent;
    text-decoration: none;
    padding: 0.1em 0.5em;
}

#footer a:hover {
    color: white;
    background-image: url(../base/images/black-70.png);
    text-decoration: underline;
}


/* @end
====================================================================== */
/* @group Main Menu
====================================================================== */

#mainMenu li {
}

#mainMenu a {
    color: #fff;
    background-image: url(../base/images/white-15.png);
    background-color: transparent;
}


#mainMenu a:hover,
#mainMenu .here a,
#roles span.here {
    background-image: url(../base/images/black-50.png);
}

#mainMenu li:hover a {
    background-image: none;
}

#mainMenu > li:hover > a {
    background-image: url(../base/images/black-80.png);
}

#mainMenu :hover  ul {
    background-image: url(../base/images/black-80.png);
}

#mainMenu li:hover li:hover > a,
#mainMenu li.here:hover li.here:hover > a {
    color: black;
    background-image: url(../base/images/white-40.png);
}
#mainMenu li.here:hover li.here > a {
    color: black;
    background-image: url(../base/images/white-50.png);
}

#mainMenu li a:hover ul li a:hover {
    background-image: url(../base/images/white-40.png);
}


/* @end
====================================================================== */
/* @group WCDropDownList
====================================================================== */

.WCDropDownList {
    border-color: #B5975A;
}


/* @end
====================================================================== */
/* @group Basic Look
====================================================================== */

a, a:active, a:link {
    text-decoration: none;
    color: #22d; /* #387cb3; */
}
a:visited { text-decoration: none; }
a:hover {
    background-color: #F0f0f0;
    /* color: #000; */
    border-bottom: 1px dotted black;
}

h1, h2, h3, h4, h5, h6 { color: #542a2a; }
.disabled { color: #555; }
b, strong { color: #111; }
.check { color: #0a0; }
.warn  { color: #d00; }
.date { color: #777; }

span.hl {
    font-weight: bold;
    /* color: #aad518;
       padding: 0 2px; */
    /* background-image: url(../base/images/white-40.png);
    color: black; */
    color: white;
    background-color: #542a2a;
    padding: 0.1em 0.3em;
}

.module {
    background: transparent url(../base/images/white-70.png) repeat top left;
    color:  #444;
}

.module.title {
    background: transparent url(../base/images/white-70.png) repeat top left;
}

pre, .code {
    background-image: url(../base/images/black-10.png);
    border-left: 4px solid #444;
    color: black;
}

label em { color: #e20; }


/* @end
====================================================================== */
/* @group =Tables
====================================================================== */

table {
    border: 1px solid #aaa;
}

.tableborder {
    border: 1px solid #aaa;
}

table th {
    background-image: url(../base/images/black-20.png);
    color: #111;
}

table th a, table th a:active, table th a:link {
    color: #118;
}
table th a:hover {
    color: black;
    border-bottom: 1px dotted black;
}

table thead {
    border-bottom: 1px solid #aaa;
}

.batchnav { background-image: url(../base/images/black-20.png); }

/* tr.o  { background-color: transparent; } */
tr.e  { background-image: url(../base/images/black-05.png); }

.selected,
tr.o.selected,
.theme-thumb.selected { background-color: #aec9ef; border: 1px solid #aaa; }
tr.e.selected {
    background-image: none;
    background-color: #a5bfe3;
}
tr.e span.selected { background-color: #a5bfe3; }

.caution, tr.o.caution, tr.o.caution.selected { background-color: #ef4; }
tr.e.caution,
tr.e.caution.selected {
    background-image: none;
    background-color: #de3;
}
tr.e span.caution { background-color: #de3; }

.error,
tr.o.error,
tr.o.caution.error,
tr.o.error.selected,
tr.o.caution.error.selected { background-color: #faa; }
tr.e.error,
tr.e.caution.error,
tr.e.error.selected,
tr.e.caution.error.selected {
    background-image: none;
    background-color: #f99;
}
tr.e span.error { background-color: #f99; }


    /*
    ================================================================== */
    /* @group Mini-Histogram
    ================================================================== */

    table.distchart {
        background-color: white;
        border-bottom: 1px solid black;
    }


    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Paginated tables
    ================================================================== */

    table .pagination .active {
        background-color: rgba(255, 255, 255, 0.75);
        border-color: gray;
    }

    table .pagination .current {
        border-color: gray;
        background-color: #A0C0FF;
    }

    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Meter
    ================================================================== */

    table.percentbar td.plus  { background-color: #00df00; }
    table.percentbar td.minus { background-color: #df0000; }
    table tr#divider td { border-top: 1px solid #aaa; }


    /* @end
    ================================================================== */


    /*
    ================================================================== */
    /* @group Printout
    ================================================================== */


    /* @end
    ================================================================== */


/* @end
====================================================================== */
/* @group Notices
====================================================================== */




/* @end
====================================================================== */
/* @group Dojo Nihilo
====================================================================== */

.nihilo .dijitTitlePane .dijitTitlePaneTitle {

    color: #111;
    border-bottom: 1px solid #111;
}

.nihilo .dijitTitlePaneFocused .dijitTitlePaneTextNode,
.nihilo .dijitOpen .dijitTitlePaneTextNode,
.nihilo .dijitTitlePaneTextNode {
    color: #111;
}


form fieldset {
    border: 1px solid #111;
}

.dijitTooltipContainer form fieldset {
    border-color: #111;
}


/* @end
====================================================================== */
/* @group Primitive classes
====================================================================== */

.theme-text-color {
    color: #444;
}

.theme-table-border {
    border: 1px solid #aaa;
}

.theme-table-border-left {
    border-left: 1px solid #aaa;
}

.theme-table-border-right {
    border-right: 1px solid #aaa;
}

.theme-table-border-top {
    border-top: 1px solid #aaa;
}

.theme-table-border-bottom {
    border-bottom: 1px solid #aaa;
}

/* The background of a div.module */
.theme-module-background {
    background: transparent url(../base/images/white-70.png) repeat top left;
}

/* A background suitable for calling out something inside of a div.module */
.theme-callout-background {
    background: transparent url(../base/images/white-60.png) repeat top left;
}

.theme-code-color {
    color: black;
}

.theme-code-background {
    background-image: url(../base/images/black-10.png);
}

.theme-code-background2 {
    background-image: url(../base/images/black-20.png);
}

/* @end
====================================================================== */
