<webobject name="BarePage">
<table class="FullBox">
<tr><td id="toc">
  <p><b><span style="font-size:large;">Web-CAT installer</span></b></p>
  <div class="stepbar"><webobject name="StepRepetition">
  <wo name="StepDiv"><webobject name="StepImage"/> <webobject name="StepName"/></wo>
  </webobject></div>
</td><td id="body"><h1><webobject name="Title"/></h1>
<webobject name="Errors"/><webobject name="NextForm"><webobject name="PageContent"/>
<p><webobject name="BackButtonEnabled"><webobject name="BackButton"/><webobject name="Spacer"/></webobject><webobject name="NextButton"/></p></webobject>
</td></tr></table>
<div id="footer">
<a href="http://web-cat.cs.vt.edu/WCWiki/Web-CAT">Web-CAT</a> is
&copy; 2006-2012 <a href="http://www.cs.vt.edu/">Virginia Tech</a>
&nbsp;|&nbsp;
v<wo:str value="$application.version"/>
&nbsp;|&nbsp;
Comments to <a href="mailto:webcat@vt.edu">webcat@vt.edu</a>
</div>
</webobject>
